html {
	background-color:blue;
	text-align:center;
	margin:450px;
	font-family: "glitchlapolicethin", monospace, monospace;}
	
}

body{
}
#captcha{color:white;
font-size: 30pt } 

h1.captcha {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: 100%;
  margin: 0 auto;
  font-size: 45pt
  font-color: white;

}

h1.captcha a:hover {
  color: white;
}

h1.captcha:hover {
  background-color: blue;
}

h1.captcha:hover a{
  color: white;
}