html {
	background-color:blue;
	text-align:center;
	margin:450px;
	font-family: "glitchlapolicethin", monospace, monospace;}
	
}

body{
}


}

#captcha a{
  color:white;
  font-size: 72px
}

#captcha:hover {
  background-color: blue;
}



  .hoverBackground{
    background-color: white
  }
}