	
html {
background: url('images/background-01.png') no-repeat center fixed ;
background-size: 600px 800px;;


	font-family: "glitchlapolicethin", monospace, monospace;
		box-sizing: border-box;
	box-sizing: border-box;}

#menu{
	color:blue;
	padding-top: 320px;
	padding-left: 460px;
}

#info{
	color: blue;
	

}
