html{

background: url('images/giphy23.gif') no-repeat center fixed ;
background-size: 1400px 1200px; position: fixed;
font-family: 'VT323', monospace;
}

body{
	text-align: right;
	size: 20px;
	padding-top: 400px;
	color: blue;
	padding-left: 500px;
}

