html {

	font-family: "glitchlapolicethin", monospace, monospace;
}

body{
}
	#text{color: blue;
font-size: 10pt }



.container {
	display: flex;
	flex-flow: row wrap;
}

.main-content{
	background-color: blue;
}

.sidebar1{
	background-color: blue;
}

.sidebar2{
	background-color: blue
	font-family: 'Inconsolata', monospace;
font-family: 'VT323', monospace;
}
/* tell all items to be 100% width */
/* code isn't working, comment out parts of the code 
by holding command then / */
.header, .main-content, .footer, .sidebar-generic{
	flex:1 100%;
}

@media all and (min-width: 800px){
	.sidebar-generic {
		flex: 1 auto;
	}
	.main-content{
		flex: 5 0px;
		background-color: blue;
	}

	.sidebar1{
		order: 1;
		background-color: blue;

	}

	.main-content{
		order: 2;
		background-color: blue;
	}

	.sidebar2{
		order: 3;
		background-color:  blue;
	}


	}
}