html {
	background-color:black;
	text-align:center;
	font-family: "mono spacee", monospace, monospace, monospace;
	margin:200px;

}

body{

}
#top{color:#faff00;

}

#Definition {color:#10ff0c;

}
	
#crack{ color:#28f7ff; }

#Google{color:#ff00a1;

}